<div class="container-fluid">

 <div style="text-align: center; padding-top: 40px;"> 
<h2 > Allocate your <strong>Money</strong> here:</h2>
<small>Based on this investment theory.</small>
</div>

  <div class="card-deck" style="padding-top: 50px">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><i class="fas fa-university"></i><strong> Safe Fund </strong></h5>
      <hr>
      <p class="card-text"><strong>60%</strong> of your Safe Fund goes into your savings bank account: <strong> {{safe60}}</strong></p>
      <p class="card-text">Rest <strong>40%</strong> goes into Public Provident Fund(PPF), Fixed Deposit(FD), Treasury bills(T-Bills), Bonds etc.: <strong> {{safe40}}</strong></p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Very Safe + Very Liquid</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><i class="fas fa-dumbbell"></i><strong> You Fund </strong></h5>
      <hr>
      <p class="card-text">Invest <strong>50%</strong> of this on yourself: <strong>{{you50}}</strong></p>
      <p class="card-text">Other <strong>50%</strong> goes into growing your own business/passion: <strong>{{you50}}</strong></p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Safe + Liquid</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><i class="far fa-chart-bar"></i><strong> Risk Fund </strong></h5>
      <hr>
      <p class="card-text"><strong>70%</strong> goes into Stocks, Crypto, Startups, Mutual/Index Funds etc.: <strong>{{risk70}}</strong> </p>
      <p class="card-text">Rest <strong>30%</strong> goes into short term trading, cash reserve etc.: <strong>{{risk30}}</strong></p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Very Risky + Less Liquid</small>
    </div>
  </div>
</div>
</div>

<div class="container-fluid"  style="padding-top: 80px">
    

        <div class="row">
            <div class="col-sm-4" style="text-align: center">Regular research & updates by <i class="fab fa-twitter"></i><a href="https://twitter.com/SupraBo_" target="_blank">Suprateek Bose</a></div>
            <div class="col-sm-4"></div>
           <div class="col-sm-4" style="text-align: center">
              Open sourced on <i class="fab fa-github"></i><a href="https://github.com/SupraBo/MoneyAllocator" target="_blank"> Github</a>
           </div>
          </div>
    
</div>


<!--<div class="col-sm-4">
    Regular research & updates by <i class="fab fa-twitter"></i><a href="https://twitter.com/SupraBo_" target="_blank"></a>><strong> Suprateek Bose</strong></a>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    Open source project at <a href="https://github.com/SupraBo/MoneyAllocator" target="_blank"><i class="fab fa-github"></i></a>

  </div>-->