
<div class="container-fluid">
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><strong> Safe Fund </strong></h5>
      <hr>
      <p class="card-text">60% of your Safe Fund goes into your savings bank account: {{safe60}}</p>
      <p class="card-text">Rest 40% goes into Public Provident Fund(PPF), Fixed Deposit(FD), Treasury bills(T-Bills), Bonds etc.: {{safe40}}</p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Very Safe + Very Liquid</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><strong> You Fund </strong></h5>
      <hr>
      <p class="card-text">Invest 50% of this on yourself: {{you50}}</p>
      <p class="card-text">Other 50% goes into growing your business/passion: {{you50}}</p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Safe + Liquid</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title" style="text-align: center"><strong> Risk Fund </strong></h5>
      <hr>
      <p class="card-text">70% goes into Stocks, Crypto, Startups, Mutual/Index Funds etc.: {{risk70}} </p>
      <p class="card-text">Rest 30% goes into short term trading, cash reserve etc.: {{risk30}}</p>
    </div>
    <div class="card-footer" style="text-align: center">
      <small class="text-muted">Very Risky + Less Liquid</small>
    </div>
  </div>
</div>
</div>